{% load static %}
<html>
	<head>
		<meta charset="UTF-8">
		<title>FoodieZ...</title>
		 <link rel="stylesheet" href="{% static 'customer/Fstyle.css' %}" type="text/css">
	

	</head>
	
	<body>
		
			<div class="section">
		<a href="{% url 'home' %}"><i>Foodiez..</i></a>
					<li class="login"><a href="{% url 'login' %}">Log in</a></li>
				<li class="sign_in"><a href="{% url 'signup' %}">Create an account</a></li>
			</div>	

		

						
						<div class="duo">
						<div class="menu">
							<li class="f-item-1"><a href="C:/Users/Samrat/Desktop/project/Breakfast.html">BREAKFAST</a></li>
							<li class="f-item-2"><a href="#-2">BRUNCH</a></li>
							<li class="f-item-3"><a href="#-3">LUNCH</a></li>
							<li class="f-item-4"><a href="#-4">DESSERTS</a></li>
							<li class="f-item-5"><a href="#-5">DINNER</a></li>
						</div>
						<div class="space">
						<div class="blur">	</div>
										<div class="search">
											<form>
												<input type="text" placeholder="Search.." name="search">
												<button type="submit"></button>
											</form>
										</div>
						</div>
<div class="icons">
<div class="icon-2">	<img src="{% static 'customer/nominordericon.png' %}" width="150pt" height="150pt"></div>
<div class="p-2"><p>Browse menus and <b>build your order</b>in seconds</p></a></div>
<div class="icon-3">	<img src="{% static 'customer/fooddeliveryicon.svg' %}" ></div>
<div class="p-3"><p><b>No Mininimum Order</b></p><p>Order in for yourself or for the group,</p><p>with no restrictions on order value</p></div>
<div class="icon-1">	<img src="% static 'customer/browseurfoodicon.svg' %"></div>
<div class="p-1"><p><b>Lightening-Fast Delivery</b></p><p>Experience Foodiez Super fast Delivery  </p><p>for food delivered fresh & on time</p></a></div>
</div>

				<div class="end">
						<table id="End">
								<tr>
								  <th>About</th>
								  <th>Cities</th>
								  <th>Contact Us</th>
								</tr>
					  
								
								<tr>


								  <td>Alfreds Akshith Futterkiste </td>
								  <td>Germany</td> 
								  <td>+91 9849080307</td> 
								</tr>
					  
								<tr>
								  <td>Konaganti Kakashi</td>
								  <td>Pakistan</td>
								  <td>100</td>
								</tr>
								
							  </table>
				</div>		
					
		
	</body>
</html>