body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background:red;
  }
  .Sup{
    width: 400px;
    height: 400px;
    padding: 40px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #ffffff;
    text-align: center;
  }
  .Sup h1{
    color: rgb(0, 0, 0);
  }

.Sup input[type=text],.Sup input[type = "email"],.Sup input[type = "password"]
{
border-radius: 24px;
width: 100%;
padding: 12px 20px;
box-sizing: border-box;
border: 3px solidrgb(219, 153, 153);
transition: 0.25s;
outline: none;
}

.Sup input[type=text] ,.Sup input[type = "email"],.Sup input[type = "password"]:focus 
{
    text-align: center;
    border: 3px solid;
  width: 420px;
  border-color: red;
}

.Sup input[type = "submit"],.Sup input[type = "email"],.Sup input[type = "password"]
{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid rgb(219, 153, 153);
  padding: 14px 40px;
  outline: none;
  color: rgb(0, 0, 0);
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.Sup input[type = "submit"]:hover
{
border-color: white;  
    background:red;
}
